coco-data
bbox.c
*.so
*.pyc

# repo
data_gen/MODNet/
data_gen/GFM/
RainNet/

# data
data/backgrounds/
data/person_dataset/
data/masks/
data/combined/
data/cropped_masks/
data/cropped_images/
data/padded_masks/
data/final/
data/original/
*.zip

*.png
*.pth

# cache
__pycache__/
.vscode/
.DS_Store
*/.DS_Store
*/**/.DS_Store

