coco-data
bbox.c
*.so
*.pyc

# repo
MODNet/
GFM/

# data
data/backgrounds/
data/person_dataset/
MODNet/demo/image_matting/colab/output
*.png
*.pth

# cache
__pycache__/
.vscode/
.DS_Store
*/.DS_Store
*/**/.DS_Store

